.block_cameras {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 30px;
    width: auto;
}

.img_produits {
    width: 14rem;
    height: 9rem;
}

.banner {
    background-color: #c7c9c7;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.block1 {
    padding: 16px;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 10px;
}
