.block_cameras {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 30px;
    width: auto;
}

.img_produits {
    width: 14rem;
    height: 9rem;
}

.banner {
    background-color: #c7c9c7;
    text-align: center;
}
