<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale-1, shrink-to-fit=no" />
    <meta name="description" content="Orinoco le site d'achat en ligne de caméras vintage">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="undefined" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="undefined"
        crossorigin="anonymous"></script>

    <!-- Tab icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="https://img.icons8.com/color/24/000000/slr-camera.png" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5627f331db.js" crossorigin="anonymous"></script>

    <!-- Style css -->
    <link rel="stylesheet" href="/frontend/css/style.css">

    <title>Orinoco</title>
</head>

<body>
    <!-- Header and nav-menu -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid mx-2 mx-lg-5">
                <img class="img-fluid mx-4 mx-lg-0 mr-auto w-25" src="../../../backend/images/logo.png"
                    alt="Logo de Orinoco" />

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse ms-4" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/frontend/view/index/index.html">Accueil</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Description --->
        <section class="banner">
            <div class="banner_center">
                <h1 class="brand text-center">Oricams
                    <br>Personnalisez votre appareil photos vintage !
                </h1></br>
            </div>
        </section>
    </header>

    <!-- details du client -->
    <section id="orderForm" class="mx-5 px-0 px-lg-5">
        <p class="text-center fs-2 my-5 bg-secondary text-white">Mes informations</p>
    </section>

    <!-- retour formulaire -->
    <section id="orderForm" class="mx-5 px-0 px-lg-5">
        <p class="text-center fs-2 my-5 bg-secondary text-white">Le récapitulatif de la commande</p>
        <div class="container table-responsive">
            <table class="table table-hover my-auto mx-0">
                <thead>
                    <tr class="text-center fs-5">
                        <th scole="col">Produit</th>
                        <th scole="col">Quantité</th>
                        <th scole="col">Nom</th>
                        <th scole="col">Option</th>
                    </tr>
                </thead>
                <tbody class="orderForm">
                    <tr class="text-center">
                        <td class="product w-25"></td>
                        <td class="quantity align-middle"></td>
                        <td class="name align-middle"></td>
                        <td class="option align-middle"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Restez connecté avec nos réseaux sociaux :</span>
            </div>

            <div>
                <a aria-label="facebook" class="me-4 text-reset" href="https://facebook.fr"><span
                        class="fa fa-facebook icon-md"></span></a>
                <a aria-label="twitter" class="me-4 text-reset" href="https://twitter.com"><span
                        class="fa fa-twitter icon-md"></span></a>
                <a aria-label="instagram" class="me-4 text-reset" href="http://instagram.com"><span
                        class="fa fa-instagram icon-md"></span></a>
                <a aria-label="Linkdin" class="me-4 text-reset" href="http://linkedin.com"><span
                        class="fa fa-linkedin icon-md"></span></a>
                </a>
            </div>
        </section>
    </footer>
    <script src="../../js/camera.js"></script>
    <script src="../../js/config.js"></script>
    <script src="order.js"></script>

</body>

</html>