<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no" />
    <meta name="description" content="Orinoco le site d'achat en ligne de caméras vintage">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap and css -->
    <link rel="stylesheet" href="/front-end/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="undefined" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="undefined"
        crossorigin="anonymous"></script>

    <!-- Tab icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="https://img.icons8.com/color/24/000000/slr-camera.png" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5627f331db.js" crossorigin="anonymous"></script>

    <title>Orinoco - Panier</title>
</head>

<body>

    <!-- Header and nav-menu -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mx-2 mx-lg-5">
            <img class="img-fluid mx-4 mx-lg-0 mr-auto w-25" src="../../../backend/images/logo.png"
                alt="Logo de Orinoco" />

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse ms-4" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/frontend/view/index/index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/frontend/view/produit/produit.html" id="bagPreview">Produits</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Panier vide -->
    <section id="emptyBag">
        <div class="my-3 py-1">
            <div class="text-center my-5 p-3 mb-5 bg-body">
                <h1 class="fs-1 font-weight-bold text-secondary my-5">Votre panier est vide</h1>
                <a role="button" class="btn btn-secondary my-3" href="../index/index.html">Commencez vos achats dès
                    maintenant</a>
            </div>
        </div>
    </section>

    <!-- Panier -->
    <section id="orderForm" class="my-5 align-middle">
        <div id="bag">
            <p class="text-center fs-4 text-light bg-secondary bag">Votre panier</p>
            <div class="table-responsive">
                <table class=" table table-hover my-auto mx-0">
                    <thead>
                        <tr class="text-center fs-5">
                            <th scole="col">Produit</th>
                            <th scole="col">Quantité</th>
                            <th scole="col">Nom</th>
                            <th scole="col">Option</th>
                            <th scole="col">Prix</th>
                        </tr>
                    </thead>
                    <tbody class="container text-center">
                        <tr class="text-center">
                            <td class="product w-25"></td>
                            <td class="quantity align-middle"></td>
                            <td class="name align-middle"></td>
                            <td class="option align-middle"></td>
                            <td class="price align-middle"></td>
                            <td class="total align-middle"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="text-center fs-5 bg-light">
                            <th colspan="4" class="bg-white"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="text-center my-5 row" id="cacheButton">
                <div class="col-12 col-sm-6 my-4">
                    <button type="button" id="clearBag" class="btn btn-danger mx-5">Vider le panier</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Formulaire -->
    <div class="my-3 mx-5" id="contactForm">
        <p class="my-5 fs-5">Veuillez remplir ce formulaire afin de procéder à votre commande</p>
        <form class="row g-3" method="post" id="orderInfo">
            <div class="col-md-4">
                <label class="form-label">Votre prénom</label>
                <input type="text" class="form-control" id="firstName" placeholder="Entrez votre prénom"
                    pattern="^(([a-zA-ZÀ-ÿ]+[\s\-]{1}[a-zA-ZÀ-ÿ]+)|([a-zA-ZÀ-ÿ]+))$" required>
            </div>
            <div class="col-md-4">
                <label class="form-label">Votre nom</label>
                <input type="text" class="form-control" id="lastName" placeholder="Entrez votre nom"
                    pattern="^(([a-zA-ZÀ-ÿ]+[\s\-]{1}[a-zA-ZÀ-ÿ]+)|([a-zA-ZÀ-ÿ]+))$" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefaultUsername" class="form-label">Votre adresse email</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="email" class="form-control" id="email" placeholder="Entrez une adresse email"
                        aria-describedby="inputGroupPrepend" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]{2,}\.[a-z]{2,4}$"
                        required>
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Votre adresse</label>
                <input type="text" class="form-control" id="address" placeholder="Entrez une adresse postal"
                    pattern="^([a-zA-Z0-9'\s]{2,255})$" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Votre ville</label>
                <input type="text" class="form-control" id="city" placeholder="Entrez le nom de votre ville"
                    pattern="^([a-zA-Z'\s]{2,255})$" required>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidOrder" required>
                    <label class="form-check-label" for="invalidOrder">
                        <p data-bs-toggle="tooltip">Veuillez accepter les conditions de vente</p>
                    </label>
                </div>
            </div>

            <div class="text-center my-5 d-md-flex justify-content-md-end">
                <div class="col-12 col-sm-6 my-4">
                    <button type="submit" class="btn btn-secondary mx-5" id="order">Passer la commande</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Restez connecté avec nos réseaux sociaux :</span>
            </div>

            <div>
                <a aria-label="facebook" class="me-4 text-reset" href="https://facebook.fr"><span
                        class="fa fa-facebook icon-md"></span></a>
                <a aria-label="twitter" class="me-4 text-reset" href="https://twitter.com"><span
                        class="fa fa-twitter icon-md"></span></a>
                <a aria-label="instagram" class="me-4 text-reset" href="http://instagram.com"><span
                        class="fa fa-instagram icon-md"></span></a>
                <a aria-label="Linkdin" class="me-4 text-reset" href="http://linkedin.com"><span
                        class="fa fa-linkedin icon-md"></span></a>
                </a>
            </div>
        </section>
    </footer>
    <script src="../../js/camera.js"></script>
    <script src="../../js/function.js"></script>
    <script src="../../js/config.js"></script>
    <script src="panier.js"></script>

</body>

</html>